page-login {

    .main{
        margin-top: 150px; 
    }
   
    #inner{
        text-align: center;
        font-weight: bold;
    }
    
    .content{
        background-color: rgb(250, 218, 176),
    }
}
